<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>A3.3 CII via CIP Project Organization</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>A3.3 CII via CIP Project Organization</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-3be74a46c2d940b19347a0c60490a851.png" alt="A3.3 CII via CIP Project Organization" usemap="#id-3be74a46c2d940b19347a0c60490a851map"/>
			   <map name="id-3be74a46c2d940b19347a0c60490a851map">
				  				<area shape="rect" coords="820,760,960,840" href="../elements/id-40375b2d3cd24891b881970726b9dca8.html"  target="element">
				  				<area shape="rect" coords="790,670,930,750" href="../elements/id-672c8acfbc19473b82c3f557a28cb780.html"  target="element">
				  				<area shape="rect" coords="620,1060,760,1140" href="../elements/id-062db06a4fd24bd8b4875f86a81bf0e4.html"  target="element">
				  				<area shape="rect" coords="620,860,760,940" href="../elements/id-ce96b0f3b1ea4b06bc93875b28cd5e61.html"  target="element">
				  				<area shape="rect" coords="620,760,760,840" href="../elements/id-58b8c7342dd147c391fb88f03111788b.html"  target="element">
				  				<area shape="rect" coords="620,959,760,1039" href="../elements/id-b87271a6965f4999ae4fe19f849a081d.html"  target="element">
				  				<area shape="rect" coords="590,670,730,750" href="../elements/id-3a1f8a278ccd417c9bb114c5c373b169.html"  target="element">
				  				<area shape="rect" coords="420,810,560,890" href="../elements/id-76ac30a8dc4b4196b982ee9b60de2216.html"  target="element">
				  				<area shape="rect" coords="420,910,560,990" href="../elements/id-009923d1ea8e47baa885edd094514933.html"  target="element">
				  				<area shape="rect" coords="420,1020,560,1100" href="../elements/id-0408fecf651f412c813fbf4c7fd6b6c1.html"  target="element">
				  				<area shape="rect" coords="260,760,400,840" href="../elements/id-12c3eadc79914977a8bac44f8a7d73ac.html"  target="element">
				  				<area shape="rect" coords="260,959,400,1039" href="../elements/id-c3bd4af28a944862b454bc7462bed5dc.html"  target="element">
				  				<area shape="rect" coords="260,1060,400,1140" href="../elements/id-b5837ddfcfce419197ef408e51328e35.html"  target="element">
				  				<area shape="rect" coords="260,860,400,940" href="../elements/id-7c77e33ad838404e8e9bd40bd115a392.html"  target="element">
				  				<area shape="rect" coords="230,670,370,750" href="../elements/id-4680e120153b4e93aff0d7bf864dfd98.html"  target="element">
				  				<area shape="rect" coords="50,1030,190,1110" href="../elements/id-58b8c7342dd147c391fb88f03111788b.html"  target="element">
				  				<area shape="rect" coords="50,940,190,1020" href="../elements/id-dd0ee2c6e41a49339d08b03fac02b4f7.html"  target="element">
				  				<area shape="rect" coords="50,850,190,930" href="../elements/id-b87271a6965f4999ae4fe19f849a081d.html"  target="element">
				  				<area shape="rect" coords="50,760,190,840" href="../elements/id-95117412515e4b3b9ec557d763c3ffd8.html"  target="element">
				  				<area shape="rect" coords="20,670,160,750" href="../elements/id-d0eb42ca536a4744ba23c4ee95e827c0.html"  target="element">

				          <area shape="rect" coords="10,630,971,1151" href="../objects/id-0da73f41f3ab421c95f134f514c2ba16.html" target="element" >
				  		<area shape="rect" coords="380,270,520,350" href="../elements/id-5f8029fad2ad45fe969638b2c57d93fa.html"  target="element">
				  		<area shape="rect" coords="380,170,520,250" href="../elements/id-95117412515e4b3b9ec557d763c3ffd8.html"  target="element">
				  		<area shape="rect" coords="540,220,680,300" href="../elements/id-4e7deee7de2844338d30d984a86de910.html"  target="element">
				  		<area shape="rect" coords="540,320,680,400" href="../elements/id-bf9a6b0f6bb643c79b524d4360da8ef3.html"  target="element">
				  		<area shape="rect" coords="200,170,340,250" href="../elements/id-cafc05b8d75b4b4aa5a2da5fcb894e21.html"  target="element">
				  		<area shape="rect" coords="20,50,160,130" href="../elements/id-58b8c7342dd147c391fb88f03111788b.html"  target="element">
				          <area shape="rect" coords="10,10,971,411" href="../objects/id-dd51f27f1a324b0c973ae4f3aaefb96b.html" target="element" >
				  				<area shape="rect" coords="20,490,160,570" href="../elements/id-062db06a4fd24bd8b4875f86a81bf0e4.html"  target="element">

				          <area shape="rect" coords="10,450,971,591" href="../objects/id-443431c802594ed8aa429cd9712501d9.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">CII via CIP Project Organization according to HERMES5 project management methodology.
https://www.hermes.admin.ch/hermes5/en/project-management/understanding/phases-and-milestones.html</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-443431c802594ed8aa429cd9712501d9.html" target="element"> Managing the project </a> </td>
									           <td> <a href="../objects/id-443431c802594ed8aa429cd9712501d9.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-062db06a4fd24bd8b4875f86a81bf0e4.html" target="element"> Project Management Team Members </a> </td>
													    <td> <a href="../elements/id-062db06a4fd24bd8b4875f86a81bf0e4.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-dd51f27f1a324b0c973ae4f3aaefb96b.html" target="element"> Steering the project </a> </td>
									           <td> <a href="../objects/id-dd51f27f1a324b0c973ae4f3aaefb96b.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-58b8c7342dd147c391fb88f03111788b.html" target="element"> Business Owner </a> </td>
											    <td> <a href="../elements/id-58b8c7342dd147c391fb88f03111788b.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cafc05b8d75b4b4aa5a2da5fcb894e21.html" target="element"> Steering Comitee </a> </td>
											    <td> <a href="../elements/id-cafc05b8d75b4b4aa5a2da5fcb894e21.html" target="element" class="i18n-elementtype-BusinessCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf9a6b0f6bb643c79b524d4360da8ef3.html" target="element"> Chief Technical Officer </a> </td>
											    <td> <a href="../elements/id-bf9a6b0f6bb643c79b524d4360da8ef3.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4e7deee7de2844338d30d984a86de910.html" target="element"> IT Operations Manager </a> </td>
											    <td> <a href="../elements/id-4e7deee7de2844338d30d984a86de910.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-95117412515e4b3b9ec557d763c3ffd8.html" target="element"> Chief Information Officer </a> </td>
											    <td> <a href="../elements/id-95117412515e4b3b9ec557d763c3ffd8.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5f8029fad2ad45fe969638b2c57d93fa.html" target="element"> Chief Security Officer </a> </td>
											    <td> <a href="../elements/id-5f8029fad2ad45fe969638b2c57d93fa.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-0da73f41f3ab421c95f134f514c2ba16.html" target="element"> Executing the project </a> </td>
									           <td> <a href="../objects/id-0da73f41f3ab421c95f134f514c2ba16.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-d0eb42ca536a4744ba23c4ee95e827c0.html" target="element"> Solution Architecture Team Members </a> </td>
													    <td> <a href="../elements/id-d0eb42ca536a4744ba23c4ee95e827c0.html" target="element" class="i18n-elementtype-BusinessCollaboration">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-95117412515e4b3b9ec557d763c3ffd8.html" target="element"> Chief Information Officer </a> </td>
													    <td> <a href="../elements/id-95117412515e4b3b9ec557d763c3ffd8.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b87271a6965f4999ae4fe19f849a081d.html" target="element"> Solution Architect </a> </td>
													    <td> <a href="../elements/id-b87271a6965f4999ae4fe19f849a081d.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dd0ee2c6e41a49339d08b03fac02b4f7.html" target="element"> Business Architect </a> </td>
													    <td> <a href="../elements/id-dd0ee2c6e41a49339d08b03fac02b4f7.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-58b8c7342dd147c391fb88f03111788b.html" target="element"> Business Owner </a> </td>
													    <td> <a href="../elements/id-58b8c7342dd147c391fb88f03111788b.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4680e120153b4e93aff0d7bf864dfd98.html" target="element"> Solution Architecture Team Members Extended </a> </td>
													    <td> <a href="../elements/id-4680e120153b4e93aff0d7bf864dfd98.html" target="element" class="i18n-elementtype-BusinessCollaboration">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7c77e33ad838404e8e9bd40bd115a392.html" target="element"> Business Analyst </a> </td>
													    <td> <a href="../elements/id-7c77e33ad838404e8e9bd40bd115a392.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b5837ddfcfce419197ef408e51328e35.html" target="element"> Software Architect </a> </td>
													    <td> <a href="../elements/id-b5837ddfcfce419197ef408e51328e35.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c3bd4af28a944862b454bc7462bed5dc.html" target="element"> Smart Metering Applications Owner </a> </td>
													    <td> <a href="../elements/id-c3bd4af28a944862b454bc7462bed5dc.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-12c3eadc79914977a8bac44f8a7d73ac.html" target="element"> Cybersecurity Compliance Officer </a> </td>
													    <td> <a href="../elements/id-12c3eadc79914977a8bac44f8a7d73ac.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0408fecf651f412c813fbf4c7fd6b6c1.html" target="element"> Smart Metering Expert </a> </td>
													    <td> <a href="../elements/id-0408fecf651f412c813fbf4c7fd6b6c1.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-009923d1ea8e47baa885edd094514933.html" target="element"> B2C Portal Applications Owner </a> </td>
													    <td> <a href="../elements/id-009923d1ea8e47baa885edd094514933.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-76ac30a8dc4b4196b982ee9b60de2216.html" target="element"> IT Standards and Quality Compliance Officer </a> </td>
													    <td> <a href="../elements/id-76ac30a8dc4b4196b982ee9b60de2216.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3a1f8a278ccd417c9bb114c5c373b169.html" target="element"> Product Team </a> </td>
													    <td> <a href="../elements/id-3a1f8a278ccd417c9bb114c5c373b169.html" target="element" class="i18n-elementtype-BusinessCollaboration">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b87271a6965f4999ae4fe19f849a081d.html" target="element"> Solution Architect </a> </td>
													    <td> <a href="../elements/id-b87271a6965f4999ae4fe19f849a081d.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-58b8c7342dd147c391fb88f03111788b.html" target="element"> Business Owner </a> </td>
													    <td> <a href="../elements/id-58b8c7342dd147c391fb88f03111788b.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ce96b0f3b1ea4b06bc93875b28cd5e61.html" target="element"> CII via CIP Product Owner </a> </td>
													    <td> <a href="../elements/id-ce96b0f3b1ea4b06bc93875b28cd5e61.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-062db06a4fd24bd8b4875f86a81bf0e4.html" target="element"> Project Management Team Members </a> </td>
													    <td> <a href="../elements/id-062db06a4fd24bd8b4875f86a81bf0e4.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-672c8acfbc19473b82c3f557a28cb780.html" target="element"> Agile Development Team </a> </td>
													    <td> <a href="../elements/id-672c8acfbc19473b82c3f557a28cb780.html" target="element" class="i18n-elementtype-BusinessCollaboration">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-40375b2d3cd24891b881970726b9dca8.html" target="element"> Agile Project Team Member </a> </td>
													    <td> <a href="../elements/id-40375b2d3cd24891b881970726b9dca8.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																	<tr>
																		<td> <a href="../elements/id-4d7d02c3f8fb45beaacc87baf4c197ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4d7d02c3f8fb45beaacc87baf4c197ec.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cafc05b8d75b4b4aa5a2da5fcb894e21.html" target="element"> Steering Comitee </a> </td>
																		<td> <a href="../elements/id-4e7deee7de2844338d30d984a86de910.html" target="element"> IT Operations Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c668ee3c1297443188ebed23d75350db.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c668ee3c1297443188ebed23d75350db.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cafc05b8d75b4b4aa5a2da5fcb894e21.html" target="element"> Steering Comitee </a> </td>
																		<td> <a href="../elements/id-5f8029fad2ad45fe969638b2c57d93fa.html" target="element"> Chief Security Officer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4a839f5e778f4c2f8d0d65d97d013f5a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4a839f5e778f4c2f8d0d65d97d013f5a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cafc05b8d75b4b4aa5a2da5fcb894e21.html" target="element"> Steering Comitee </a> </td>
																		<td> <a href="../elements/id-95117412515e4b3b9ec557d763c3ffd8.html" target="element"> Chief Information Officer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4136aec0820d4f16b4e6583be5d12dd8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4136aec0820d4f16b4e6583be5d12dd8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cafc05b8d75b4b4aa5a2da5fcb894e21.html" target="element"> Steering Comitee </a> </td>
																		<td> <a href="../elements/id-58b8c7342dd147c391fb88f03111788b.html" target="element"> Business Owner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d32d204f2b4a49a5a4e3fa5f8350b62d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d32d204f2b4a49a5a4e3fa5f8350b62d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cafc05b8d75b4b4aa5a2da5fcb894e21.html" target="element"> Steering Comitee </a> </td>
																		<td> <a href="../elements/id-bf9a6b0f6bb643c79b524d4360da8ef3.html" target="element"> Chief Technical Officer </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-4d3f7e0afd234eaa92c948cc36d4c72e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4d3f7e0afd234eaa92c948cc36d4c72e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d0eb42ca536a4744ba23c4ee95e827c0.html" target="element"> Solution Architecture Team Members </a> </td>
																				<td> <a href="../elements/id-dd0ee2c6e41a49339d08b03fac02b4f7.html" target="element"> Business Architect </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f5948c951afe4bbda29c61a605b8fc98.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f5948c951afe4bbda29c61a605b8fc98.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d0eb42ca536a4744ba23c4ee95e827c0.html" target="element"> Solution Architecture Team Members </a> </td>
																				<td> <a href="../elements/id-58b8c7342dd147c391fb88f03111788b.html" target="element"> Business Owner </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6f942916eea2437e82095bd8293cf769.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6f942916eea2437e82095bd8293cf769.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d0eb42ca536a4744ba23c4ee95e827c0.html" target="element"> Solution Architecture Team Members </a> </td>
																				<td> <a href="../elements/id-b87271a6965f4999ae4fe19f849a081d.html" target="element"> Solution Architect </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-39ce4b79918745a7aaacc3171b131eea.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-39ce4b79918745a7aaacc3171b131eea.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4680e120153b4e93aff0d7bf864dfd98.html" target="element"> Solution Architecture Team Members Extended </a> </td>
																				<td> <a href="../elements/id-76ac30a8dc4b4196b982ee9b60de2216.html" target="element"> IT Standards and Quality Compliance Officer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e9fdd6b69e914fa29df583468cd746d1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e9fdd6b69e914fa29df583468cd746d1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4680e120153b4e93aff0d7bf864dfd98.html" target="element"> Solution Architecture Team Members Extended </a> </td>
																				<td> <a href="../elements/id-0408fecf651f412c813fbf4c7fd6b6c1.html" target="element"> Smart Metering Expert </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b34ec25e091b488d8270c0a17286eaeb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b34ec25e091b488d8270c0a17286eaeb.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4680e120153b4e93aff0d7bf864dfd98.html" target="element"> Solution Architecture Team Members Extended </a> </td>
																				<td> <a href="../elements/id-b5837ddfcfce419197ef408e51328e35.html" target="element"> Software Architect </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2ea68af768a14ba6805a44479023c62f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2ea68af768a14ba6805a44479023c62f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4680e120153b4e93aff0d7bf864dfd98.html" target="element"> Solution Architecture Team Members Extended </a> </td>
																				<td> <a href="../elements/id-009923d1ea8e47baa885edd094514933.html" target="element"> B2C Portal Applications Owner </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9f8b4c27141c4754b37a19c87e9821be.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9f8b4c27141c4754b37a19c87e9821be.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4680e120153b4e93aff0d7bf864dfd98.html" target="element"> Solution Architecture Team Members Extended </a> </td>
																				<td> <a href="../elements/id-12c3eadc79914977a8bac44f8a7d73ac.html" target="element"> Cybersecurity Compliance Officer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1f084ef5af1444c29b05828b4b7ba867.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1f084ef5af1444c29b05828b4b7ba867.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4680e120153b4e93aff0d7bf864dfd98.html" target="element"> Solution Architecture Team Members Extended </a> </td>
																				<td> <a href="../elements/id-d0eb42ca536a4744ba23c4ee95e827c0.html" target="element"> Solution Architecture Team Members </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6c9e126776934166a6376734ce5e872d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6c9e126776934166a6376734ce5e872d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4680e120153b4e93aff0d7bf864dfd98.html" target="element"> Solution Architecture Team Members Extended </a> </td>
																				<td> <a href="../elements/id-c3bd4af28a944862b454bc7462bed5dc.html" target="element"> Smart Metering Applications Owner </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ec1a244d7272476f8ab28e8183057b85.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ec1a244d7272476f8ab28e8183057b85.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4680e120153b4e93aff0d7bf864dfd98.html" target="element"> Solution Architecture Team Members Extended </a> </td>
																				<td> <a href="../elements/id-7c77e33ad838404e8e9bd40bd115a392.html" target="element"> Business Analyst </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-67c1ac589adb40c581eefd2e8b544ff0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-67c1ac589adb40c581eefd2e8b544ff0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3a1f8a278ccd417c9bb114c5c373b169.html" target="element"> Product Team </a> </td>
																				<td> <a href="../elements/id-ce96b0f3b1ea4b06bc93875b28cd5e61.html" target="element"> CII via CIP Product Owner </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-804af3450a9d40bb8b1e284218b21696.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-804af3450a9d40bb8b1e284218b21696.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3a1f8a278ccd417c9bb114c5c373b169.html" target="element"> Product Team </a> </td>
																				<td> <a href="../elements/id-062db06a4fd24bd8b4875f86a81bf0e4.html" target="element"> Project Management Team Members </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2f5b3eab6c714f4c87198f93575d6189.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2f5b3eab6c714f4c87198f93575d6189.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3a1f8a278ccd417c9bb114c5c373b169.html" target="element"> Product Team </a> </td>
																				<td> <a href="../elements/id-b87271a6965f4999ae4fe19f849a081d.html" target="element"> Solution Architect </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c618f10b4c314005b05024a721515936.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c618f10b4c314005b05024a721515936.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3a1f8a278ccd417c9bb114c5c373b169.html" target="element"> Product Team </a> </td>
																				<td> <a href="../elements/id-58b8c7342dd147c391fb88f03111788b.html" target="element"> Business Owner </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-92f36a3713664763b8307e4f6fae8553.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-92f36a3713664763b8307e4f6fae8553.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-672c8acfbc19473b82c3f557a28cb780.html" target="element"> Agile Development Team </a> </td>
																				<td> <a href="../elements/id-40375b2d3cd24891b881970726b9dca8.html" target="element"> Agile Project Team Member </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>