<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Archimate RAG System (ARAGS) - Application Structure (L1)</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Archimate RAG System (ARAGS) - Application Structure (L1)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-4257d8a9ad8d4e28adda000c2b7f7042.png" alt="Archimate RAG System (ARAGS) - Application Structure (L1)" usemap="#id-4257d8a9ad8d4e28adda000c2b7f7042map"/>
			   <map name="id-4257d8a9ad8d4e28adda000c2b7f7042map">
				  		<area shape="rect" coords="10,10,130,70" href="../elements/id-43219dc55df84fa39029d9c2edbc11e0.html"  target="element">
				  		<area shape="rect" coords="10,110,130,170" href="../elements/id-79218b78f51b4b40ba9f7533a8e1c2e9.html"  target="element">
				  		<area shape="rect" coords="290,110,410,170" href="../elements/id-eae06787531d4f12b0728a432e2b7b43.html"  target="element">
				  		<area shape="rect" coords="150,110,270,170" href="../elements/id-7888b56e19a7464cb275761c91c12c75.html"  target="element">
				  		<area shape="rect" coords="710,110,830,170" href="../elements/id-5381c1481be64f5aa33775637fe563cb.html"  target="element">
				  		<area shape="rect" coords="430,110,550,170" href="../elements/id-c75d8dce37f34bdc8edd22bec176c663.html"  target="element">
				  		<area shape="rect" coords="570,110,690,170" href="../elements/id-0dafeeddf4de49c0b5bbd97d84077f68.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-0dafeeddf4de49c0b5bbd97d84077f68.html" target="element"> ARAGS - Architecture Analyzer </a> </td>
											    <td> <a href="../elements/id-0dafeeddf4de49c0b5bbd97d84077f68.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c75d8dce37f34bdc8edd22bec176c663.html" target="element"> ARAGS - Cypher Generator </a> </td>
											    <td> <a href="../elements/id-c75d8dce37f34bdc8edd22bec176c663.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5381c1481be64f5aa33775637fe563cb.html" target="element"> ARAGS - Documentation Generator </a> </td>
											    <td> <a href="../elements/id-5381c1481be64f5aa33775637fe563cb.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7888b56e19a7464cb275761c91c12c75.html" target="element"> ARAGS - Entity Extractor </a> </td>
											    <td> <a href="../elements/id-7888b56e19a7464cb275761c91c12c75.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eae06787531d4f12b0728a432e2b7b43.html" target="element"> ARAGS - GraphRAG Query Engine </a> </td>
											    <td> <a href="../elements/id-eae06787531d4f12b0728a432e2b7b43.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-79218b78f51b4b40ba9f7533a8e1c2e9.html" target="element"> ARAGS - MCP Server </a> </td>
											    <td> <a href="../elements/id-79218b78f51b4b40ba9f7533a8e1c2e9.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-43219dc55df84fa39029d9c2edbc11e0.html" target="element"> Archimate RAG System (ARAGS) </a> </td>
											    <td> <a href="../elements/id-43219dc55df84fa39029d9c2edbc11e0.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-9ed7868672bb4292b1ce898c7567306e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9ed7868672bb4292b1ce898c7567306e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-43219dc55df84fa39029d9c2edbc11e0.html" target="element"> Archimate RAG System (ARAGS) </a> </td>
																		<td> <a href="../elements/id-5381c1481be64f5aa33775637fe563cb.html" target="element"> ARAGS - Documentation Generator </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6c5b27e6c3174f33a8df2528959ce058.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6c5b27e6c3174f33a8df2528959ce058.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-43219dc55df84fa39029d9c2edbc11e0.html" target="element"> Archimate RAG System (ARAGS) </a> </td>
																		<td> <a href="../elements/id-c75d8dce37f34bdc8edd22bec176c663.html" target="element"> ARAGS - Cypher Generator </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ad7cbc510b5c40a28ec349d6a3f25510.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ad7cbc510b5c40a28ec349d6a3f25510.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-43219dc55df84fa39029d9c2edbc11e0.html" target="element"> Archimate RAG System (ARAGS) </a> </td>
																		<td> <a href="../elements/id-7888b56e19a7464cb275761c91c12c75.html" target="element"> ARAGS - Entity Extractor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-71fa16da981d47adba7a793b76ebdcaa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-71fa16da981d47adba7a793b76ebdcaa.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-43219dc55df84fa39029d9c2edbc11e0.html" target="element"> Archimate RAG System (ARAGS) </a> </td>
																		<td> <a href="../elements/id-79218b78f51b4b40ba9f7533a8e1c2e9.html" target="element"> ARAGS - MCP Server </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-870973b7593445c5854da767ed4d3eac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-870973b7593445c5854da767ed4d3eac.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-43219dc55df84fa39029d9c2edbc11e0.html" target="element"> Archimate RAG System (ARAGS) </a> </td>
																		<td> <a href="../elements/id-0dafeeddf4de49c0b5bbd97d84077f68.html" target="element"> ARAGS - Architecture Analyzer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ac39e69dcf474f098633238c7c6e4628.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac39e69dcf474f098633238c7c6e4628.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-43219dc55df84fa39029d9c2edbc11e0.html" target="element"> Archimate RAG System (ARAGS) </a> </td>
																		<td> <a href="../elements/id-eae06787531d4f12b0728a432e2b7b43.html" target="element"> ARAGS - GraphRAG Query Engine </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>